[project]
projectDir=/output/
package=com.ifog.luckybox
project=luckybox

[build]
gradle=gradle-4.6-all
plugin=com.android.tools.build:gradle:3.1.0-alpha08


# if you wan to user mac, set system = mac and install 'gsed' like below:
#   brew install gsed
system=mac

#[api]
#domain=[dom1,dom2,dom3]
#method=p #p:post, g:get, d:delete, p:put
#param=r[body]|s[id]|i[ps]|l[machineId], #r:request body, s:string, i:int, l:long

#[page1]
#subPackage=home[c] c:normal, p:pull refresh, m:pull up and down,
#model=HomeData
#type=[a] a:adapter, mvp:mvp
#view=HomeView[fdr] [f:fragment, a:activity, v:layout], [d/c:dataBinding, c:normal] ,[r:recycleView, c:normal]
#presenter=HomePresenter

#[page1]
#subPackage=factory.FactoryOpenCab
#type=|mvp|a|
#view=L[[c[i,i,r,i,i],i],c[i,i]]
#itemModel=model.factory.LocalCabBean
#itemView=[l[c[i,t]]]
#adapterName=LocalCabBean

[page1]
subPackage=factory.FactoryOpenCab
model=MineData
vm=MineData
view=L[[c[i,i,r,i,i],i],c[i,i]]
presenter=MinePresenter

#[page4]
#subPackage=home.detail
#model=DetailBean
#vm=DetailBean
#view=DetailBean[fdr]
#viewItem=DetailItem

#[view1]
#components=[] #[t:TextView, i:ImageView, v:View, r:RecycleView, c:ConstrainLayout, rl:RelativeLayout, ll:LinearLayout]







